html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 20%;
    background: orchid;

}

.left {

    float: left;
    background-color:rgb(47, 255, 210);
    width: 100%;
    height: 80%;
    text-align: center;
}       